{%load commitfest%}
<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/static/commitfest/css/jquery-ui.css" type="text/css">
  <link rel="stylesheet" href="/static/selectable/css/dj.selectable.css" type="text/css" media="all">
  <link rel="stylesheet" href="/static/commitfest/css/bootstrap.css" />
  <link rel="stylesheet" href="/static/commitfest/css/bootstrap-theme.min.css" />
  <link rel="shortcut icon" href="/static/commitfest/favicon.ico" />
{%if rss_alternate%}  <link rel="alternate" type="application/rss+xml" title="{{rss_alternate_title}}" href="{{rss_alternate}}" />{%endif%}
</head>
<body>
<div class="container-fluid">
<ul class="breadcrumb">
 <li><a href="/">Home</a></li>
{%for c in breadcrumbs%}
 <li><a href="{{c.href}}">{{c.title}}</a></li>
{%endfor%}
 <li class="active">{{title}}</li>
 <li class="pull-right active">
{%if user.is_authenticated%}
 Logged in as {{user}} (<a href="/account/logout/">log out</a>{%if user.is_staff%} or access <a href="/admin/">administration</a>{%endif%})
{%else%}
 <a href="/account/login/?next={{request.path}}">Log in</a>
{%endif%}
 </li>
{%if header_activity%} <li class="pull-right active"><a href="{{header_activity_link}}">{{header_activity}}</a></li>{%endif%}
</ul>

<h1>{{title}}</h1>

{%if messages%}
 {%for m in messages%}
  <div class="alert {{m.tags|alertmap}}">{{m}}</div>
 {%endfor%}
{%endif%}

{%block contents%}
{%endblock%}
</div>
<script src="/static/commitfest/js/jquery.js"></script>
<script src="/static/commitfest/js/jquery-ui.js"></script>
<script src="/static/commitfest/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/selectable/js/jquery.dj.selectable.js"></script>
<script src="/static/commitfest/js/commitfest.js"></script>
{%block morescript%}{%endblock%}
</html>
