{%extends "base.html"%}
{%load commitfest %}
{%block contents%}

<div class="accordion" id="filteraccordion">
 <div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#filteraccordion" href="#collapseFilters"><h4>Filters</h4></a>
  </div>
  <div id="collapseFilters" class="accordion-body collapse {%if has_filter%}in{%endif%}">
    <form id="filterform" method="GET" action=".">
      <table class="table table-condensed">
	<thead>
	  <tr>
{%for f in form%}
            <td>{{f.label}}</td>
{%endfor%}
	    <td></td>
	  </tr>
	</thead>
	<tbody>
	  <tr>
{%for f in form%}
            <td>{{f}}</td>
{%endfor%}
	    <td><input type="submit" class="btn" value="Filter"></td>
	  </tr>
	</tbody>
      </table>
    </form>
  </div>
</div>

{%for p in patches %}
{%ifchanged p.is_open%}
{%if not forloop.first%}
 </tbody>
</table>
{%endif%}
<h3>{{p.is_open|yesno:"Active patches,Closed patches"}}</h3>
<table class="table table-striped table-bordered table-hover table-condensed">
 <thead>
  <tr>
   <th>Patch</th>
   <th>Status</th>
   <th>Author</th>
   <th>Reviewers</th>
   <th>Latest activity</th>
   <th>Latest mail</th>
  </tr>
 </thead>
 <tbody>
{%endifchanged%}

{%ifchanged p.topic%}
  <tr><th colspan="6">{{p.topic}}</th></tr>
{%endifchanged%} 
  <tr>
   <td><a href="{{p.id}}/">{{p}}</a></td>
   <td><span class="label">{{p.status|patchstatusstring}}</span></td>
   <td>{{p.author_names|default:''}}</td>
   <td>{{p.reviewer_names|default:''}}</td>
   <td style="white-space: nowrap;">{{p.modified|date:"Y-m-d"}}<br/>{{p.modified|date:"H:i"}}</td>
   <td style="white-space: nowrap;">{{p.lastmail|date:"Y-m-d"}}<br/>{{p.lastmail|date:"H:i"}}</td>
  </tr>
{%endfor%}
 </tbody>
</table>

{%if cf.isopen or user.is_staff %}
<p>
<a class="btn" href="new/">New patch</a>
</p>
{%endif%}
{%endblock%}
