{%extends "base.html"%}
{%block contents%}
<p>
The following commitfests exist in the system.
{%if inprogresscf%}Current review work is done in commitfest <a href="/{{inprogresscf.id}}/">{{inprogresscf}}</a>.{%endif%}
{%if opencf%}New patches should be submitted to commitfest <a href="/{{opencf.id}}/">{{opencf}}</a>.{%endif%}
</p>
<ul>
{%for c in commitfests%}
 <li><a href="/{{c.id}}/">{{c}}</a> ({{c.statusstring}})</li>
{%endfor%}
</ul>
<br/>
<h3>Commands</h3>
<form method="GET" action="/search/" class="form-inline" role="form">
  <div class="form-group">
    <input type="text" class="form-control" id="searchterm" name="searchterm" placeholder="Global search">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>
{%endblock%}
