{%extends "base.html"%}
{%load commitfest%}
{%block contents%}
{%include "patch_commands.inc"%}
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Title</th>
      <td>{{patch.name}}</td>
    </tr>
    <tr>
      <th>Topic</th>
      <td>{{patch.topic}}</td>
    </tr>
    <tr>
      <th>Created</th>
      <td>{{patch.created}}</td>
    </tr>
    <tr>
      <th style="white-space: nowrap;">Last modified</th>
      <td>{{patch.modified}} ({{patch.modified|timesince}} ago)</td>
    </tr>
    <tr>
      <th style="white-space: nowrap;">Latest email</th>
      <td>{%if patch.lastmail%}{{patch.lastmail}} ({{patch.lastmail|timesince}} ago){%endif%}</td>
    </tr>
    <tr>
      <th>Status</th>
      <td>{%for c in patch_commitfests %}
	<div style="margin-bottom: 3px;">{{c.commitfest}}: <span class="label label-default">{{c.statusstring}}</span></div>
	{%endfor%}
      </td>
    </tr>
    <tr>
      <th>Authors</th>
      <td>{{patch.authors_string}}</td>
    </tr>
    <tr>
      <th>Reviewers</th>
      <td>{{patch.reviewers_string}}<a href="reviewer/{{is_reviewer|yesno:"remove,become"}}/" class="btn btn-default pull-right">{{is_reviewer|yesno:"Remove from reviewers,Become reviewer"}}</a></td>
    </tr>
    <tr>
      <th>Committer</th>
      <td>{%if patch.committer%}{{patch.committer.fullname}}{%endif%}
{%if is_committer%}<a href="committer/{{is_this_committer|yesno:"remove,become"}}/" class="btn btn-default pull-right">{{is_this_committer|yesno:"Unclaim as committer,Claim as committer"}}</a>{%endif%}
      </td>
    </tr>
    <tr>
      <th>Links</th>
      <td>
	{%if patch.wikilink%}<a href="{{patch.wikilink}}">Wiki</a>{%endif%}
	{%if patch.gitlink%}<a href="{{patch.gitlink}}">Git</a>{%endif%}
      </td>
    </tr>
    <tr>
      <th>Emails</th>
      <td>
{%if user.is_authenticated%}
	<div style="float:right"><button class="btn btn-default" onclick="attachThread({{cf.id}},{{patch.id}})">Attach thread</button></div>
{%else%}
	<div style="float:right"><button class="btn btn-default" onclick="location.href='/account/login/?next=/{{cf.id}}/{{patch.id}}/%3Fattachthreadnow'">Attach thread</button></div>
{%endif%}
	<dl>
	{%for t in patch.mailthread_set.all%}
	 <dt><a href="http://www.postgresql.org/message-id/flat/{{t.messageid}}/">{{t.subject}}</a> <button type="button" class="close close-nofloat" title="Detach this thread" onclick="detachThread({{cf.id}},{{patch.id}},'{{t.messageid}}')">&times;</button></dt>
	 <dd>
	  First at <a href="http://www.postgresql.org/message-id/{{t.messageid}}/">{{t.firstmessage}}</a> by {{t.firstauthor|hidemail}}<br/>
	  Latest at <a href="http://www.postgresql.org/message-id/{{t.latestmsgid}}/">{{t.latestmessage}}</a> by {{t.latestauthor|hidemail}}<br/>
	  {%for ta in t.mailthreadattachment_set.all%}
	  {%if forloop.first%}
	  Latest attachment at <a href="http://www.postgresql.org/message-id/{{ta.messageid}}/">{{ta.date}}</a> from {{ta.author|hidemail}} <button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-target="#att{{t.pk}}" title="Show all attachments"><i class="glyphicon glyphicon-plus"></i></button>
           <div id="att{{t.pk}}" class="collapse">
          {%endif%}
           &nbsp;&nbsp;&nbsp;&nbsp;Attachment at <a href="http://www.postgresql.org/message-id/{{ta.messageid}}/">{{ta.date}}</a> from {{ta.author|hidemail}} (Patch: {{ta.ispatch|yesno:"Yes,No,Pending check"}})<br/>
          {%if forloop.last%}</div>{%endif%}
	  {%endfor%}
	 </dd>
	{%endfor%}
	</dl>
      </td>
    </tr>
    <tr>
      <th>History</th>
      <td>
	<div style="max-height: 200px; overflow-y: scroll;">
	<table class="table table-bordered table-striped table-condensed">
	  <thead>
	    <tr>
	      <th>When</th>
	      <th>Who</th>
	      <th>What</th>
	    </tr>
	  </thead>
	  <tbody>
	    {%for h in patch.history %}	  
	    <tr>
	      <td style="white-space: nowrap;">{{h.date}}</td>
	      <td style="white-space: nowrap;">{{h.by}}</td>
	      <td width="99%">{{h.what}}</td>
	    </tr>
	    {%endfor%}
	  </tbody>
	</table>
	</div>
      </td>
    </tr>
  </tbody>
</table>

{%include "patch_commands.inc"%}

{%comment%}commit dialog{%endcomment%}
<div class="modal fade" id="commitModal" role="dialog">
 <div class="modal-dialog modal-lg">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       <h3>Flag as committed</h3>
     </div>
     <div class="modal-body">
       <form class="form" style="margin-bottom: 5px;">
	 <div class="form-group">
	   <label for="committerlist">Committer</label>
	   <select id="committerSelect" class="form-control">
	     <option value="" style="display:none;"></option>
	     {%for c in committers%}
	     <option value="{{c.user.username}}">{{c.user.first_name}} {{c.user.last_name}}</option>
	     {%endfor%}
	   </select>
	 </div>
     </div>
     <div class="modal-footer">
       <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
       <a href="#" class="btn btn-default btn-primary" id="doCommitButton">Flag as committed</a>
     </div>
   </div>
 </div>
</div>

{%include "thread_attach.inc"%}
{%endblock%}

{%block morescript%}
<script language="javascript">
$(document).ready(function() {
   $('button.close-nofloat').each(function(i,o) {
      $(o).tooltip();
   });
});
{%if attachnow%}
$(document).ready(function() {
   attachThread({{cf.id}},{{patch.id}}, function() {
      document.location.replace('/{{cf.id}}/{{patch.id}}/');
   });
});
{%endif%}
</script>
{%endblock%}
